<div class="inner inner-single">

        {{ .Content }}

        <div class="merch-featured">
            <div>
                <img src="/images/logo-spectrum.png" alt="">
            </div>
            <div class="blurb">
                <h3>
                    Their Mission:
                </h3>
                <p>
                    To create meaningful and inclusive employment<br>
                    opportunities for people on the Autism Spectrum.
                    <span>
                        <a href="https://www.spectrumproject.net/" target="_blank">
                            Learn more here
                        </a>
                    </span>
                </p>
            </div>
        </div>
        <div class="merch-container">
            {{ $products := .Params.product }}
            {{ range $products }}
            {{ if .is_enabled }}
            {{/*  .merch-card wrapper so products can be individually enabled  */}}
            <div>
                <div class="merch-card">
                    <img src="{{ .product_image }}" alt="{{ .product_image_alt_text }}">
                    <h2>{{ .product_title_text }}</h2>
                    <p>{{ .product_price }}</p>
                    <a href="{{ .product_link_url }}" class="button bigger" target="_blank">Buy Now</a>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>

    </div>