<footer>
    <div class="footer-container">

        <div class="logo-sh">
            <img src="/images/sleepy-hollow-logo.png" alt="Village of Sleepy Hollow Logo">
        </div>
        <div class="social">
            <ul>
                <li>
                    <a href="{{ .Site.Params.instagram }}">
                        <img src="/images/icon-instagram-wt.png" alt="Instagram Logo">
                    </a>
                </li>
                <li>
                    <a href="{{ .Site.Params.facebook }}">
                        <img src="/images/icon-facebook-wt.png" alt="Facebook Logo">
                    </a>
                </li>
                <li>
                    <a href="mailto:{{ .Site.Params.email }}?subject=Website Contact">
                        <img src="/images/icon-email-wt.png" alt="Email Icon">
                    </a>
                </li>
            </ul>
        </div>
        {{/*  <div class="info">
            <p>
                &reg; I LOVE NEW YORK is a registered trademark and service mark of the New York State Department of Economic Development; used with permission.
            </p>
        </div>
        <div class="logo-ilny">
            <img src="/images/ilny-logo.png" alt="I Love New York Logo">
        </div>  */}}
    </div>
</footer>


{{/*  Old Footer   */}}
{{/*  <footer>
    <div class="footer-container">

        <div class="logo-sh">
            <img src="/images/sleepy-hollow-logo.png" alt="Village of Sleepy Hollow Logo">
        </div>
        <div class="social">
            <ul>
                <li>
                    <a href="{{ .Site.Params.instagram }}">
                        <img src="/images/icon-instagram-wt.png" alt="Instagram Logo">
                    </a>
                </li>
                <li>
                    <a href="{{ .Site.Params.facebook }}">
                        <img src="/images/icon-facebook-wt.png" alt="Facebook Logo">
                    </a>
                </li>
                <li>
                    <a href="mailto:{{ .Site.Params.email }}?subject=Website Contact">
                        <img src="/images/icon-email-wt.png" alt="Email Icon">
                    </a>
                </li>
            </ul>
        </div>
        <div class="info">
            <p>
                &reg; I LOVE NEW YORK is a registered trademark and service mark of the New York State Department of Economic Development; used with permission.
            </p>
        </div>
        <div class="logo-ilny">
            <img src="/images/ilny-logo.png" alt="I Love New York Logo">
        </div>
    </div>
</footer>  */}}