<h3>
    Important Links
</h3>

<ul>
    <li>
        <span>Need tickets?</span>
        <a href="{{ $.Site.Data.generic.tickets_link }}" target="_blank">Click here</a>.
    </li>
    <li>
        <span>I want to join your mailing list</span>
        <a href="mailto:info@sleepyhollowmusicfestival.com?subject=Website Request Mailing List">Click here</a>.
    </li>
    <li>
        <span>Hi! I want to volunteer</span>
        <a href="mailto:info@sleepyhollowmusicfestival.com?subject=Website Request Volunteer">Click here</a>.
    </li>
    <li>
        <span>I'd like to be a vendor</span>
        <a href="mailto:info@sleepyhollowmusicfestival.com?subject=Website Request Vendor">Click here</a>.
    </li>
</ul>