{{ partial "head.html" . }}

<body>

    <div class="top"></div>
    <div class="mid">
        <div class="content">
            <div class="title">
                <img src="/images/title2.png" alt="">
            </div>
            <h2>
                June 8, 2024<br>
                Kingsland Point Park
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                lacus vel facilisis.
            </p>
            <h3>
                Stay on top of what's happening
            </h3>
            <form action="">
                <input type="email" id="email" name="email" placeholder="Enter your email address">
                <input type="submit">
            </form>
            <div class="moon"></div>
            <div class="lighthouse">
                <img src="/images/lighthouse.png" alt="">
            </div>
            <div class="horse">
                <img src="/images/horse.png" alt="">
            </div>
        </div>
    </div>
    <div class="bottom">
    </div>
    <div class="crowd">
        <img src="/images/crowd.png" alt="">
    </div>

</body>

</html>