.artist-list-container {

    .stage-banner {
        width: 100%;
        height: 138px;
        text-align: center;
        color: map-get($color, fg);
        background-color: map-get($color, accent2);

        @include media('<=tablet') {
            height: 100px;
        }

        h2 {
            margin: 0;
            font-size: calc(2rem + 1.5vw);
            line-height: normal;
            font-weight: 300;
            text-transform: uppercase;

            padding: 36px 0;

            @include media('<=showoff') {
                font-size: calc(2rem + 1.5vw);
            }

            @include media('<=tablet') {
                padding: 26px;
            }
        }
    }

    .artist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;

        align-items: center;

        @include media('<tablet') {
            grid-template-columns: 1fr;
        }

        .bio {

            h2 {
                margin: 40px 0 15px 0;
                font-size: 3rem;
                line-height: 2.6rem;
                font-weight: 300;

                @include media('<=showoff', '>tablet') {
                    font-size: 3vw;
                }
            }

            .words {
                margin-left: auto;
                margin-right: auto;
                width: 85%;
                font-size: 1.4rem;
                line-height: normal;
                text-align: center;

                @include media('<=desktop', '>tablet') {
                    font-size: 1.5vw;
                }

                a {
                    color: map-get($color, fg);
                    text-decoration: none;
                    box-shadow: 0 0.09clourem 0 map-get($color, fg);
                    transition: map-get($time, short);

                    &:hover {
                        box-shadow: none;
                    }

                    &:after {
                        content: ('…');
                    }
                }
            }

            ul {
                list-style-type: none;
                margin: 30px 0;

                @include media('<=phone') {

                    width: 60%;
                    margin: 30px auto;
                }

                li {
                    display: inline-block;
                    padding: 0;
                    margin-right: 15px;

                    @include media('<desktop') {
                        margin-right: 7px;
                    }

                    img {
                        height: 34px;
                        width: 34px;

                        @include media('<desktop') {
                            height: 28px;
                            width: 28px;
                        }
                    }
                }
            }
        }

        // Invert every other row
        &:nth-child(even) {
            .photo {
                order: 2;
            }

            .bio {
                order: 1;
            }

            @include media('<tablet') {

                .photo,
                .bio {
                    order: unset;
                }
            }
        }
    }
}

.artist-inner {
    margin-left: auto;
    margin-right: auto;
    width: map-get($size, inner-content-width);

    @include media('<showoff') {
        width: 85%;
    }

    h2 {
        margin: 40px 0;
        font-size: 4rem;
        line-height: normal;
        font-weight: 300;
        text-align: center;

        @include media('<=tablet') {
            font-size: calc(2.8rem + 1.5vw);
        }
    }

    p {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        line-height: normal;
        font-weight: 300;
    }

    .artist-links {

        margin: 50px 0;

        ul {
            list-style-type: none;
            text-align: center;

            li {
                display: inline-block;
                margin: 6px 7px;
                padding: 0;

                img {
                    width: 52px;
                }
            }
        }
    }

    .portfolio-grid {
        margin-bottom: 80px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;

        @include media('<=tablet') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media('<=mobile') {
            grid-template-columns: 1fr;
        }

        img {
            width: 100%;
        }
    }
}