.food-container {

    margin: 2rem 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;

    @include media('<=tablet') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media('<=phone') {
        grid-template-columns: 1fr;
    }

    div {
        text-align: center;

        img {
            border: 1px solid #000;
        }

        h3 {
            font-size: 1.1rem;
            line-height: 1.2rem;
            font-weight: 400;
            margin-top: 10px;

            a {
                text-decoration: none;
                box-shadow: none;
                color: map-get($color, fg);

                &:hover {
                    color: map-get($color, accent1);
                }
            }
        }
    }
}

.food-featured {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;

    @include media('<=tablet') {
        grid-template-columns: 1fr;
    }

    h3 {
        font-size: 2rem;
        line-height: normal;
        margin-top: 0 !important;
    }
}