footer {
    height: map-get($size, footer-height);
    background-color: map-get($color, fg);
    color: map-get($color, bg);

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    img {
        display: inline;
    }
}